  <div class="dialog-header">
    <h2 mat-dialog-title>Account operations</h2>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
<mat-dialog-content>
  <p mat-card-subtitle>
    Account : {{accountId}}
  </p>
  <table mat-table [dataSource]="accountOperations" matSort *ngIf="accountOperations" class="mat-elevation-z2">
    <!--displayed columns id,operationDate,amount,type,description-->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
    <ng-container matColumnDef="operationDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Operation Date</th>
      <td mat-cell *matCellDef="let element">{{element.operationDate | date:'short'}}</td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
      <td mat-cell *matCellDef="let element">{{element.amount | currency:'USD'}}</td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let element">{{element.type}}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{element.description}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onEditOperation(element)">
            <!--swap_horiz-->
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator
    [length]="operations.totalPages * size"
    [pageSize]="size"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="onPageChange($event)">
  </mat-paginator>
</mat-dialog-content>
