<div class="dashboard-container">
  <div *ngIf="isLoading$ | async" class="spinner-container">
    <mat-spinner [diameter]="diameter"></mat-spinner>
  </div>
  <mat-grid-list cols="4" rowHeight="1:0.5" gutterSize="16px">
    <mat-grid-tile>
      <mat-card class="card-container">
        <div class="card-content">
          <mat-icon class="icon icon-blue">account_box</mat-icon>
          <div class="stats">
            <mat-card-title>{{numberOfAccounts}}</mat-card-title>
            <mat-card-subtitle>Number of accounts</mat-card-subtitle>
          </div>
        </div>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="card-container">
        <div class="card-content">
          <mat-icon class="icon icon-green">supervisor_account</mat-icon>
          <div class="stats">
            <mat-card-title>{{numberOfCustomers}}</mat-card-title>
            <mat-card-subtitle>Number of clients</mat-card-subtitle>
          </div>
        </div>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="card-container">
        <div class="card-content">
          <mat-icon class="icon icon-orange">swap_horiz</mat-icon>
          <div class="stats">
            <mat-card-title>{{totalOperations}}</mat-card-title>
            <mat-card-subtitle>Transactions</mat-card-subtitle>
          </div>
        </div>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="card-container">
        <div class="card-content">
          <mat-icon class="icon icon-purple">monetization_on</mat-icon>
          <div class="stats">
            <mat-card-title>{{totalAmount | currency}}</mat-card-title>
            <mat-card-subtitle>Total Amount</mat-card-subtitle>
          </div>
        </div>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-divider></mat-divider>

  <div class="stats-graphs">
    <mat-grid-list cols="2" rowHeight="1:0.6">
      <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Accounts</mat-card-title>
        </mat-card-header>
        <mat-card-content class="chart-container">
          <div>
            <canvas baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [type]="'pie'"
                    [options]="pieChartOptions">
            </canvas>
          </div>
        </mat-card-content>
      </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Operations</mat-card-title>
            <mat-card-subtitle>
              <div class="operations-subtitle">
                Operations in the last
                <mat-chip-listbox class="chip-list">
                  <mat-chip-option class="chip" selected>7 days</mat-chip-option>
                  <mat-chip-option class="chip">30 days</mat-chip-option>
                  <mat-chip-option class="chip">90 days</mat-chip-option>
                </mat-chip-listbox>
              </div>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="chart-container">
            <canvas
              baseChart
              [data]="barChartData"
              [options]="barChartOptions"
              [type]="'bar'">
            </canvas>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
